html
    head
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    body
        form(method='post', action='/login')
            .form-group
                input#email.form-control(type='email', placeholder='Saisissez votre adresse email', name='email', value='john.doe@domain.tld')
            button.btn.btn-block.btn-default(type='submit') Envoyer